/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/header.css";
@import "../components/hobbies.css";

/* custom style */

/* hero start */
.hero {
  min-height: 100vh;
  justify-content: center;
  background-image: url(../../img/hero.png);
  background-size: cover;
  background-position: center;
}
.hero .col-12 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero .before-title {
  font-weight: bold;
}
.hero .hero-title {
  font-size: 44px;
  color: var(--primary-color);
}
.hero .hero-description {
  margin: 0 0.5em;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  line-height: 2em;
  color: #777;
}
.hero .hero-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
/* hero end */

/* about me start */
.photo-border {
  position: relative;
  --border-width: 15px;
  border: var(--border-width) solid #eee;
  border-radius: calc(var(--border-width) / 2);
  max-height: 550px;
}
.my-photo-hidden {
  width: 100%;
  visibility: hidden;
}
.my-photo {
  position: absolute;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  object-position: left;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.about-me > img {
  height: 30px;
}
.about-me > .profession {
  font-weight: 600;
}
@media (max-width: 768px) {
  .about-me > h2 {
    margin-top: 1em;
  }
}
@media (min-width: 768px) {
  .about > .row {
    display: flex;
    align-items: center;
  }
  .about-me {
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  .about-me {
    padding-left: 50px;
  }
}
/* about-me me end */
