html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

:root {
  --primary-color: #e54b4b;
  --primary-color-anti: #fff;
  --primary-dark-color: #dd2020;
  --primary-dark-color-anti: #fff;
  --grey-color: #f9fafd;
  --dark-color: #3c4858;
  --dark-color-anti: #fff;
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-dark {
  background-color: var(--dark-color);
  color: var(--dark-color-anti);
}
.center {
  text-align: center;
}
