html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #e54b4b;
  --primary-color-anti: #fff;
  --primary-dark-color: #dd2020;
  --primary-dark-color-anti: #fff;
  --grey-color: #f9fafd;
  --dark-color: #3c4858;
  --dark-color-anti: #fff;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
}
p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #777;
}

.bg-grey {
  background-color: var(--grey-color);
}
.bg-dark {
  background-color: var(--dark-color);
  color: var(--dark-color-anti);
}
.text-primary {
  color: var(--primary-color);
}

.center {
  text-align: center;
}
.section-title {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
.section-title::before,
.section-title::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  border: 3px solid var(--primary-color);
  position: absolute;
  bottom: -31.5px;
  left: 50%;
  transform: translateX(0%) rotate(225deg);
}
.section-title::after {
  border-radius: 50% 50% 50% 0;
  border: 3px solid var(--primary-color);
  position: absolute;
  bottom: -31.5px;
  left: 50%;
  transform: translateX(-100%) rotate(45deg);
}

.section-title > .line::before,
.section-title > .line::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(calc(-100% - 26px));
  background-color: var(--primary-color);
}
.section-title > .line::after {
  transform: translateX(26px);
}
.section-description {
  color: #888;
}
